@use 'sass:math'

@import "libs/bootstrap-reboot.min"
@import "libs/fonts"

*
    font-family: 'Roboto', 'Play', 'UniSansCaps', sans-serif
body
    top: 150px
    position: relative

@import "libs/variables"
@import "libs/mixins"
@import "blocks/main-content"
@import "blocks/hamburger"
@import "blocks/header"
@import "blocks/basket"
@import "blocks/menu"
@import "blocks/aside__menu"
@import "blocks/aside__news"
@import "blocks/aside__revies"
@import "blocks/product"
@import "blocks/content"
@import "blocks/slider-copanies"
@import "blocks/about-company"
@import "blocks/footer"

.container
    position: relative
    max-width: $maxWidthContainer + px
    margin: 0 auto
    padding: 0 20px

.showBlock
    display: block
.showInline-Block
    display: inline-block
.showGrid
    display: grid
.showFlex
    display: flex
.hide
    display: none
