@use 'sass:math'

@import "libs/bootstrap-reboot.min"
@import "libs/fonts"

*
    font-family: 'Roboto', 'Play', 'UniSansCaps', sans-serif

@import "libs/variables"
@import "libs/mixins"
@import "blocks/hamburger"
@import "blocks/header"
@import "blocks/basket"
@import "blocks/menu"
@import "blocks/aside"
@import "blocks/aside-menu"
@import "blocks/aside-news"
@import "blocks/aside-revies"
@import "blocks/product"
@import "blocks/content"
@import "blocks/slider-copanies"



.container
    position: relative
    max-width: $maxWidthContainer + px
    margin: 0 auto
    padding: 0 20px

.showBlock
    display: block
.showInline-Block
    display: inline-block
.showGrid
    display: grid
.showFlex
    display: flex
.hide
    display: none
        
