.about-company
    margin: 32px 0 0 0
    @media   ( max-width: 992px )
        margin: 0

    &__wrapper
        width: 100%
        background-color: var(--color-009fb4)
        padding: 2.8125em 3.5625em 3.8125em 2.3125em
        @media   ( max-width: 992px )
            padding: 20px 10px

    &__title
        font-family: 'UniSansCaps'
        font-size: 1.875rem
        line-height: 1.2em
        font-weight: 900
        font-style: normal
        text-transform: uppercase
        letter-spacing: 0.025em
        color: var(--color-22b7ca)
        user-select: none
        @media   ( max-width: 992px )
            text-align: center
    &__dcs
        display: flex
        justify-content: space-between
        padding: 2.0625em 0 0 0
        opacity: 0.9
        @media   ( max-width: 992px )
            flex-direction: column
            align-items: center

    &__story
        max-width: 42.25em
        font-family: Roboto
        font-size: 0.75rem
        line-height: 1.6666em
        font-weight: 400
        letter-spacing: 0.025em
        color: var(--color-ffffff)
        @media   ( max-width: 1200px )
            max-width: 39em
        @media   ( max-width: 992px )
            font-size: 0.95rem
            max-width: 100%
        p
            margin: 0 0 0 0
            @media   ( max-width: 992px )
                text-indent: 35px
                text-align: justify
            @media   ( max-width: 767px )
                line-height: 1.3em

            &:last-child
                margin: 2.5em 0 0 0
                @media   ( max-width: 992px )
                    margin: 0
                    text-indent: 35px
                    text-align: justify

    &__concept
        max-width: 39.8333333em
        font-family: Roboto
        font-size: 0.75rem
        line-height: 1.6666em
        font-weight: 400
        letter-spacing: 0.025em
        color: var(--color-ffffff)
        @media   ( max-width: 1200px )

        @media   ( max-width: 992px )
            max-width: 100%
            font-size: 0.95rem
        @media   ( max-width: 767px )
            margin: 15px 0 0 0

    &__concept-title
        font-size: 0.75rem
        text-transform: uppercase
        font-weight: 900
        line-height: 1.6666em
    &__concept-dcs
        position: relative

        p
            position: relative
            text-indent: 35px
            position: relative
            margin: 0 0 0 0
            @media   ( max-width: 992px )
                text-align: justify
            @media   ( max-width: 767px )
                line-height: 1.3em
            img
                top: 3px
                left: 7px
                position: absolute
                display: block
                width: 11px
                height: 11px

            &:last-child
                display: inline-block
                position: relative
                width: 65%

                @media   ( max-width: 992px )
                    width: auto
        &::after
            content: ""
            position: absolute
            bottom: -202px
            right: -55px
            display: block
            width: 255px
            height: 325px
            background: url("../img/layers.png") center center no-repeat
            @media   ( max-width: 992px )
                display: none
