.footer
    margin: 32px 0 0 0
    @media   ( max-width: 576px )
        margin: 0
    &__nav
        padding: 1.5em 0 1.55555em 0
        border-top: 3px dashed var(--color-dadada)
        border-bottom: 3px dashed var(--color-dadada)
        @media   ( max-width: 576px )
            border: none
            padding: 0

    &__information
        padding: 0 2.5em 1.0625em 0.9375em
        display: flex
        justify-content: space-between
        list-style: none
        max-width: 563px
        a
            text-decoration: none

        &:first-child
            border-bottom: 1px solid var(--color-dadada)

        &_help
            padding-right: 0.5em
        @media   ( max-width: 576px )
            flex-direction: column
            align-items: center
            justify-content: center
            padding: 1.42em 0 1.42em 0
            margin: 0
            &_help
                padding: 1.42em 0 0 0

    &__li
        a
            font-family: Roboto
            font-size: 0.875rem
            line-height: 1.2em
            font-weight: 900
            letter-spacing: 0.025em
            color: var(--color-333333)
            &:hover
                color: var(--color-1ab9ce)

    //     &_help
