
.header
    &__content
        display: flex
        justify-content: space-between
        width: 100%
        padding-top: 14px
        padding-right: 48px
    &__bg
        background-image: url("../img/bg/header.png")
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        width: 100%
        height: 140px

    &__content-ul
        display: grid
        max-width: 419px
        grid-template-columns: repeat(3, auto)
        grid-template-rows: 27px 27px
        padding-left: 0
        li
            list-style: none

            a
                font-family: Play
                font-size: rem(14)
                line-height: 18px
                font-weight: 700
                text-decoration: underline
                color: #ffffff
                opacity: 0.9
                padding: 5px 18px
                &:active
                    background-color: #068292
                    border-radius: 100px
                // text-decoration: none
    &__logo
        position: absolute
        left: 50%
        transform: translateX(-50%)
    &__logo-main
        height: 33px
        margin-top: 13px
        font-family: Play
        font-size: 48px
        line-height: 18px
        font-weight: 700
        text-transform: uppercase
        color: #ffffff
    &__logo-dsc
        height: 13px
        margin-top: 14px
        font-family: Roboto
        font-size: 12px
        line-height: 18px
        font-weight: 300
        letter-spacing: 0.05em
        color: #ffffff

    &__contacts
        width: 419px
        display: flex
        justify-content: space-between
        align-items: center
    &__contacts-first
        display: flex
        align-items: center
    &__img-wrapper
        width: 19px
        height: 25px
        margin-right: 19px
        img
            width: 100%
            height: 100%
    &__contacts-wrapper
        a
            font-family: Roboto
            font-size: 18px
            font-weight: 900
            text-transform: uppercase
            color: #ffffff
            text-decoration: none
        &__city
            font-family: Roboto
            text-align: right
            font-size: 12px
            line-height: 18px
            font-weight: 300
            color: #ffffff
    &__contacts-second
        border-left: 1px solid white
        position: relative
        a
            display: inline-block
            
            // position: absolute
            // left: 100%
            transform: translateX(15%)
            font-family: Roboto
            font-size: 18px
            font-weight: 900
            text-transform: uppercase
            color: #ffffff
            text-decoration: none
    &__city
        font-family: Roboto
        text-align: right
        font-size: 12px
        line-height: 18px
        font-weight: 300
        color: #ffffff
