.product
    &_aside-menu
        padding: 11px 30px 0 26px
    &__stock
        width: 105px
        height: 21px
        background-color: var(--color-fd8424)
        padding: 0px 0px 0px 11px
        border-radius: 20px
        font-family: Roboto
        font-size: 0.87rem
        line-height: 1.71em
        font-weight: 900
        text-transform: uppercase
        color: var(--color-ffffff)

//     &__image

//     &__title

//     &__old-price

//     &__wrapper

//     &__price

// .header
//     &__sub-secondary-img

//     &__sub-secondary-number
