.product
    &_products
        position: relative
    &_aside-menu
        padding: 11px 30px 197px 26px
        @media   ( max-width: 1200px )
            display: none
            width: 100%
    &_products
        width: 263px
        height: 383px
        padding: 42px 11px 15px 26px
        border: 1px solid black
    &__stock
        display: flex
        justify-content: center
        align-items: center
        width: 105px
        height: 21px
        background-color: var(--color-fd8424)
        border-radius: 20px
        font-family: Roboto
        font-size: 0.87rem
        line-height: 1.71em
        font-weight: 900
        text-transform: uppercase
        color: var(--color-ffffff)
        margin-top: 11px
        @media   ( max-width: 1200px )
            display: none
        &_products
            display: none
        &_background
            width: 85px
            height: 21px
            margin: 0px 0px 0px 0px
    &__image
        margin-top: 16px
        width: 225px
        height: 147px
        @media   ( max-width: 1200px )
            display: none
    &__image
        > a
            display: block
            width: 100%
            height: 100%
            background: url('../img/aside-menu/kartinka_4966.jpg')
            @media   ( max-width: 1200px )
                display: none
        &_products
            width: 229px
            height: 213px
            > a
                background: url('../img/slider-products/1.png') center center/cover no-repeat

    &__title
        font-family: Roboto
        font-size: 1rem
        font-weight: 300
        color: #36949f
        &_aside-menu
            line-height: 1.5em
            margin-top: 11px
            margin-left: 11px
            @media   ( max-width: 1200px )
                display: none
        &_products
            font-size: 16px
            line-height: 22px
            font-weight: 300
            color: #36949f
            margin: 0px 0px 0px 0px
        &_background
            max-width: 163px
            color: #ffffff

    &__span
        &_products
            font-size: 16px
            line-height: 22px
            font-weight: 900
            color: #36949f
            margin: 0px 0px 0px 0px
        &_background
            color: #c2c2c2

    &__wrapper
        position: relative
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 31px
        width: 100%
        max-height: 40px
        @media   ( max-width: 1200px )
            display: none
        &_products
            z-index: -1
            margin: 18px 0px 0px 0px
        &_background
            margin: 24px 0px 0px 0px

    &__price
        font-family: Roboto
        font-size: 1.5rem
        line-height: 1em
        font-weight: 900
        color: var(--color-333333)
        &_aside-menu
            margin-left: 2px
        &_products
            font-size: 24px
            line-height: 24px
        &_background            
            color: #ffffff

    // .product__old-price

    &__old-price
        right: 0
        top: -40%
        position: absolute
        font-size: 18px
        line-height: 24px
        font-weight: 300
        text-decoration: line-through
        color: #999999
        &_background
            display: none

.background-products
    position: absolute
    top: 0
    left: 0
    width: 263px
    height: 383px
    transition: all 0.5s
    overflow: hidden
    visibility: hidden

    // .background-products__wrapper

    &__wrapper
        display: block
        position: relative
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.84)
        border: 5px solid #f68038
        transition: 0.5s all
        transform: translateX(-100%)
        padding: 20px 12px 20px 10px
        &_active
            transform: translateX(0%)
            visibility: visible

    // .background-products__dsc

    &__dsc
        margin: 29px 0px 0px 0px

    // .background-products__item

    &__item
        margin: 10px 0px 0px 0px
        font-size: 14px
        line-height: 14px
        font-weight: 900
        color: #f68038
        &:first-child
            margin: 0px 0px 0px 0px
        > span
            line-height: 24px
            font-weight: 400
            color: #ffffff
